@font-face {
  font-family: "Orbitron";
  src: local("Orbitron-Regular"),
    url("./Orbitron-VariableFont_wght.ttf") format("truetype");
}

.active {
  color: #90caf9;
}

.main-title {
  font-family: "Orbitron", Courier, monospace;
}
